html, body { padding: 0; margin: 0; height: 100%; overflow: hidden; }
body { font-family: Verdana, Arial, Helvetica, sans-serif; position: relative; color: #222222; font-size: 1.0em; }

#filemanager { height: 100%; }
